<main>
  <p>App Component</p>
  <div>
    <!-- Control flow, Iteracion (for) -->
    @for (page of pages; track $index) {
      <button (click)="selectPage(page)">
        {{ page }}
      </button>
      <!-- Other form to do it -->
    }
    @for (page of pages; track $index) {
      <button (click)="currentPage = page">
        {{ page }}
      </button>
    }
    <!-- conditionals -->
    @if (currentPage === "Home") {
      <isdi-home></isdi-home>
    } @else {
      <isdi-sample-ng></isdi-sample-ng>
    }
  </div>
</main>
<router-outlet />
