ul {
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    a {
      color: var(--my-pink);
      font-weight: 700;
      margin-left: 0.5rem;
      padding: 0.3rem;
      text-decoration: none;
      &.active {
        color: var(--my-pink-mid);
        text-decoration: underline;
      }
    }
  }
}
