header {
  align-items: center;
  border-bottom: 1px solid var(--gray-400);
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.7rem;
  .paths {
    button {
      all: unset;
      color: var(--electric-violet);
      background-color: white;
      border: 2px solid var(--electric-violet);
      border-radius: 0.3rem;
      font-weight: 700;
      margin-left: 0.5rem;
      padding: 0.3rem;
    }
  }
}
